/* CSS for ChiliPeppr Widget */

#com-zipwhip-widget-texterator {
   
}

#com-zipwhip-widget-texterator .panel-body {
   max-height:300px;
   overflow-y: auto;
}

#com-zipwhip-widget-texterator .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-zipwhip-widget-texterator .tab-pane {
    padding-top:10px;
}

#com-zipwhip-widget-texterator .table-condensed {
    font-size:11px;
}

.btn-laserit {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:0;
}