/* CSS for ChiliPeppr Widget */

#com-zipwhip-widget-texterator {}

#com-zipwhip-widget-texterator .panel-body {
    max-height: 300px;
    overflow-y: auto;
}

#com-zipwhip-widget-texterator .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-zipwhip-widget-texterator .tab-pane {
    padding-top: 10px;
}

#com-zipwhip-widget-texterator .table-condensed {
    font-size: 11px;
}

.btn-laserit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

#com-zipwhip-widget-texterator-screensaver {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-size: 40px;
    background-color: white;
    text-align: center;
    z-index: 2;
    background: url("https://github.com/chilipeppr/widget-texterator/raw/master/texterator-bg.svg");
    background-size: cover;
}
#com-zipwhip-widget-texterator-screensaver .screensaver-logo {
    position:absolute;
    width:100%;
    height:30%;
    background: url("https://github.com/chilipeppr/widget-texterator/raw/master/texterator-logo-screen2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
}
#com-zipwhip-widget-texterator-screensaver .centering-container {
    height: 100%;
    position: relative;
    text-align: center;
}
#com-zipwhip-widget-texterator-screensaver .calltoaction {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /*margin-top: -80px;*/
    /*border:1px solid red;*/
    font-size: 80px;
    color: #333;
}
#com-zipwhip-widget-texterator-screensaver .pickup-phone {
    font-weight:bold;
    font-size:120px;
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite {
    font-weight: bold;
    /*transition: color 2s, font-size 2s;*/
    /*transform: scale(0.5);*/
    /*transition: all 2s ease-in-out;*/
}

#com-zipwhip-widget-texterator-screensaver .cta-hilite.large {
    /*color: #000;*/
    /*font-size: 120px*/
    /*transform: scale(1.3);*/
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite.anim1 {
    animation: zoomInOut1 15s infinite;
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite.anim2 {
    animation: zoomInOut2 15s infinite;
}
#com-zipwhip-widget-texterator-screensaver .calltoaction.zipIn {
    animation: fadeAndScale 1s;
}
.screensaver-img {
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%); 
}
#com-zipwhip-widget-texterator-screensaver .close2 {
    position: absolute;
    right:10px;
    top:10px;
    padding:0px 2px;
    margin:0;
    font-size:16px;
    /*border:1px solid red;*/
    opacity: 0.1;
    color:black;
}
#com-zipwhip-widget-texterator-screensaver .close2:hover {
    opacity: 0.8;
}
@keyframes zoomInOut1 {
  0%   { font-size: 80px; color: #666; }
  10%  { font-size: 120px; color: #000; }
  20%  { font-size: 120px; color: #000; }
  30% { font-size: 80px; color: #666; }
  100% { font-size: 80px; color: #666; }
}
@keyframes zoomInOut2 {
  0%   { font-size: 80px; color: #666; }
  30%   { font-size: 80px; color: #666; }
  40%  { font-size: 120px; color: #000; }
  50%  { font-size: 120px; color: #000; }
  60% { font-size: 80px; color: #666; }
  100% { font-size: 80px; color: #666; }
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}