/* CSS for ChiliPeppr Widget */

#com-zipwhip-widget-texterator {}

#com-zipwhip-widget-texterator .panel-body {
    max-height: 300px;
    overflow-y: auto;
}

#com-zipwhip-widget-texterator .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-zipwhip-widget-texterator .tab-pane {
    padding-top: 10px;
}

#com-zipwhip-widget-texterator .table-condensed {
    font-size: 11px;
}

.btn-laserit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

#com-zipwhip-widget-texterator-screensaver {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-size: 40px;
    background-color: white;
    text-align: center;
    z-index: 2;
    background: url("https://preview.c9users.io/chilipeppr/widget-texterator/texterator-bg.svg");
    background-size: cover;
    overflow: hidden;
}
#com-zipwhip-widget-texterator-screensaver .screensaver-container {
    position:absolute;
    width:100%;
    height:30%;
    background-color:white;
}
#com-zipwhip-widget-texterator-screensaver .screensaver-logo {
    position:absolute;
    left:5%;
    height:100%;
    width:100%;
    background: url("https://preview.c9users.io/chilipeppr/widget-texterator/texterator-logo-screen3.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
#com-zipwhip-widget-texterator-screensaver .centering-container {
    height: 100%;
    position: relative;
    text-align: center;
}
#com-zipwhip-widget-texterator-screensaver .cta-nbsp {
    font-size:120px;
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite {
    font-weight: bold;
    /*transition: color 2s, font-size 2s;*/
    /*transform: scale(0.5);*/
    /*transition: all 2s ease-in-out;*/
}

#com-zipwhip-widget-texterator-screensaver .cta-hilite.large {
    /*color: #000;*/
    /*font-size: 120px*/
    /*transform: scale(1.3);*/
}
#com-zipwhip-widget-texterator-screensaver .calltoaction {
    position:absolute;
    top:0%;
    width:60%;
    right:0px;
    height:100%;
    /*text-align:left;*/
    font-size:100px;
    /*line-height:300px;*/
    transform: translateY(32%); 
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite.anim1 {
    animation: zoomInOut1 15s infinite;
}
#com-zipwhip-widget-texterator-screensaver .cta-hilite.anim2 {
    animation: zoomInOut2 15s infinite;
}

#com-zipwhip-widget-texterator-screensaver .pickup-headline {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /*margin-top: -80px;*/
    /*border:1px solid red;*/
    font-size: 80px;
    color: #333;
}
#com-zipwhip-widget-texterator-screensaver .pickup-headline.zipIn {
    animation: fadeAndScale 1s;
}
#com-zipwhip-widget-texterator-screensaver .pickup-phone {
    font-weight:bold;
    font-size:120px;
}

/* Cam Preview */
#com-zipwhip-widget-texterator-screensaver .campreview {
    top:40%;
    height: 50%;
    position: relative;
    /*border:1px solid red;*/
}
#com-zipwhip-widget-texterator-screensaver .screensaver-video {
    background-color:white;
    position:absolute;
    top:0%;
    /*height:100%;*/
    width:30%;
    left:10%;
}
#com-zipwhip-widget-texterator-screensaver .snap-step {
    position:absolute;
    left:50%;
    font-size:280px;
    top:15%;
    /*line-height: 500px;*/
    /*height:100%;*/
    text-align: left;
    opacity:0;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.snap-step0 {
    font-size:60px;
}
#com-zipwhip-widget-texterator-screensaver .snap-step-phone {
    font-size:140px;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.snap-step0.countdownAnim {
    animation: countdownFadeInFadeOut 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.snap-step1.countdownAnim {
    animation: countdownFadeInFadeOut 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.snap-step2.countdownAnim {
    animation: countdownFadeInFadeOut 1s;
    animation-delay: 4s;
    animation-iteration-count: 1;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.snap-step3.countdownAnim {
    animation: countdownFadeInFadeOut 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}
#com-zipwhip-widget-texterator-screensaver .snap-step.xcountdownAnim {
    opacity:1;
}

/* Cam Photo */
#com-zipwhip-widget-texterator-screensaver .camphoto {
    height: 100%;
    position: relative;
    text-align: center;
    /*border:1px solid red;*/
}
#com-zipwhip-widget-texterator-screensaver .camphoto-img {
    position: absolute;
    top: 40%;
    left: 40%;
    /*right: 50%;*/
    height:50%;
    transform: rotate(7deg);
    /*transform: rotate3d(0.6, -0.1, 0, 60deg);*/
    /*background-repeat: no-repeat;*/
}
#com-zipwhip-widget-texterator-screensaver .camphoto-img.zipIn {
    animation: fadeAndScaleAndRotate 3s;
}

.screensaver-img {
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%); 
}
#com-zipwhip-widget-texterator-screensaver .close2 {
    position: absolute;
    right:10px;
    top:10px;
    padding:0px 2px;
    margin:0;
    font-size:16px;
    /*border:1px solid red;*/
    opacity: 0.1;
    color:black;
}
#com-zipwhip-widget-texterator-screensaver .close2:hover {
    opacity: 0.8;
}
@keyframes zoomInOut1 {
  0%   { font-size: 100px; color: #333; }
  10%  { font-size: 120px; color: #000; }
  20%  { font-size: 120px; color: #000; }
  30% { font-size: 100px; color: #333; }
  100% { font-size: 100px; color: #333; }
}
@keyframes zoomInOut2 {
  0%   { font-size: 100px; color: #333; }
  30%   { font-size: 100px; color: #333; }
  40%  { font-size: 120px; color: #000; }
  50%  { font-size: 120px; color: #000; }
  60% { font-size: 100px; color: #333; }
  100% { font-size: 100px; color: #333; }
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes fadeAndScaleAndRotate {
    from {
        opacity: 0;
        transform: rotate(2deg) scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: rotate(7deg) scale(1, 1);
    }
}
@keyframes countdownFadeInFadeOut {
    0% { opacity: 0; transform: scale(.5, .5); }
    80% { opacity: 1; transform: scale(1, 1); }
    99% { opacity: 1; transform: scale(1, 1); }
    100% { opacity: 0; transform: scale(1, 1); }
}